[submodule "internship app tracker"]
	path = internship app tracker
	url = https://github.com/sameeksha-mehrotra/internship-app-tracker.git
[submodule "sameeksha-website"]
	path = sameeksha-website
	url = https://github.com/sameeksha-mehrotra/sameeksha-mehrotra.github.io.git
[submodule "stocks-site"]
	path = stocks-site
	url = https://github.com/sameeksha-mehrotra/stock-portfolio-.git
[submodule "tpm career roadmap"]
	path = tpm career roadmap
	url = https://github.com/sameeksha-mehrotra/tpm-career-roadmap.git
[submodule "trip budgeter"]
	path = trip budgeter
	url = https://github.com/sameeksha-mehrotra/trip-planner.git
[submodule "budget tracker"]
	path = budget tracker
	url = https://github.com/sameeksha-mehrotra/monthly-budget-tracker.git
